<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JOIN</title>
    <link rel="icon" type="image/vnd.icon" href="./assets/img/join.ico">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="./fonts/fonts.css">
    <script src="script.js"></script>
    <script src=".js/add_task.js"></script>
    <script src=".js/register.js"></script>
</head>
<body onload="init()">

    <div id="slide1" class="slide1">
        <img src="./img/logoNegative.png" alt="Logo">
    </div>

    <div w3-include-html="./login.html"></div> 

</body>
</html>